In [1]:
import pandas as pd

In [2]:
df=pd.read_csv(r'C:\Users\PRITI\Desktop\Credit Card\Data\cleandata\clean.csv')

In [3]:
df['default.payment.next.month'].value_counts()

default.payment.next.month
0    23364
1     6636
Name: count, dtype: int64

In [4]:
df.head()

,ID,LIMIT_BAL,SEX,EDUCATION,MARRIAGE,AGE,PAY_0,PAY_2,PAY_3,PAY_4,...,BILL_AMT4,BILL_AMT5,BILL_AMT6,PAY_AMT1,PAY_AMT2,PAY_AMT3,PAY_AMT4,PAY_AMT5,PAY_AMT6,default.payment.next.month
0,1,20000.0,2,2,1,24,2,2,-1,-1,...,0.0,0.0,0.0,0.0,689.0,0.0,0.0,0.0,0.0,1
1,2,120000.0,2,2,2,26,-1,2,0,0,...,3272.0,3455.0,3261.0,0.0,1000.0,1000.0,1000.0,0.0,2000.0,1
2,3,90000.0,2,2,2,34,0,0,0,0,...,14331.0,14948.0,15549.0,1518.0,1500.0,1000.0,1000.0,1000.0,5000.0,0
3,4,50000.0,2,2,1,37,0,0,0,0,...,28314.0,28959.0,29547.0,2000.0,2019.0,1200.0,1100.0,1069.0,1000.0,0
4,5,50000.0,1,2,1,57,-1,0,-1,0,...,20940.0,19146.0,19131.0,2000.0,36681.0,10000.0,9000.0,689.0,679.0,0

In [5]:
df[df.duplicated()]

Empty DataFrame
Columns: [ID, LIMIT_BAL, SEX, EDUCATION, MARRIAGE, AGE, PAY_0, PAY_2, PAY_3, PAY_4, PAY_5, PAY_6, BILL_AMT1, BILL_AMT2, BILL_AMT3, BILL_AMT4, BILL_AMT5, BILL_AMT6, PAY_AMT1, PAY_AMT2, PAY_AMT3, PAY_AMT4, PAY_AMT5, PAY_AMT6, default.payment.next.month]
Index: []

[0 rows x 25 columns]

In [6]:
from imblearn.over_sampling import SMOTE

In [7]:
df.drop('ID',axis=1,inplace=True)

In [8]:
x=df.drop('default.payment.next.month',axis=1)
y=df['default.payment.next.month']

In [9]:
x,y=SMOTE().fit_resample(X=x,y=y)

In [10]:
y.value_counts()

default.payment.next.month
1    23364
0    23364
Name: count, dtype: int64

In [11]:
import os

In [12]:
os.makedirs(r'C:\Users\PRITI\Desktop\Credit Card\Data\preprocessdata',exist_ok=True)

In [13]:
x.to_csv(r'C:\Users\PRITI\Desktop\Credit Card\Data\preprocessdata\x.csv',index=False)

In [14]:
y.to_csv(r'C:\Users\PRITI\Desktop\Credit Card\Data\preprocessdata\y.csv',index=False)

In [15]:
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [16]:
x_train,x_test,y_train,y_test=train_test_split(x,y,random_state=42,test_size=.3,stratify=y)

In [17]:
x_train.shape,y_train.shape

((32709, 23), (32709,))

In [18]:
scaled=StandardScaler()
x_train_scaled=scaled.fit_transform(x_train)
x_test_scaled=scaled.transform(x_test)

In [19]:
from sklearn.linear_model import LogisticRegression
lr=LogisticRegression()
lr.fit(x_train_scaled,y_train)
predict=lr.predict(x_test_scaled)
from sklearn.metrics import classification_report
print(classification_report(y_test,predict))

              precision    recall  f1-score   support

           0       0.72      0.72      0.72      7010
           1       0.72      0.73      0.72      7009

    accuracy                           0.72     14019
   macro avg       0.72      0.72      0.72     14019
weighted avg       0.72      0.72      0.72     14019

In [20]:
from sklearn.tree import DecisionTreeClassifier
ds=LogisticRegression()
ds.fit(x_train_scaled,y_train)
predict=ds.predict(x_test_scaled)
from sklearn.metrics import classification_report
print(classification_report(y_test,predict))

              precision    recall  f1-score   support

           0       0.72      0.72      0.72      7010
           1       0.72      0.73      0.72      7009

    accuracy                           0.72     14019
   macro avg       0.72      0.72      0.72     14019
weighted avg       0.72      0.72      0.72     14019

In [21]:
import pickle

In [22]:
with open(r'C:\Users\PRITI\Desktop\Credit Card\Models\model_pkl','wb') as file:
        pickle.dump(lr,file)

In [23]:
with open(r'C:\Users\PRITI\Desktop\Credit Card\Models\model_pkl','rb') as file:
        loaded_model=pickle.load(file)

In [24]:
loaded_model.predict(x_test_scaled)

array([0, 0, 1, ..., 1, 1, 0], dtype=int64)